<%- include('partials/header') -%>

<div class="container">
      <!-- Modal body -->
      <div class="container bg-light p-5 mt-5">
        <div class="mb-5">
          Fill in the subject and email address, and message below
        </div>
        <form action="/send-mail" method="POST">
          <div class="row">
            <div class="col-md-12" id="nameHolder">
              <h5 class="font-weight-bold small">Enter Subject:</h5>
              <input type="text" class="form-control mb-2"  name="subject" placeholder="Enter Subject" required/>
              <hr class="bg-success">
            </div>
            
          </div>
          
          <div class="row">
              <div class="col-md-12" id="emailHolder">
                <h5 class="font-weight-bold small">Enter Email:</h5>
                <input type="email" required class="form-control mb-2" name="email" placeholder="Enter Email" required/>
              </div>
              
          </div>
          <div class="mb-3" id="addMore">
            <a href="javascript:void(0)" class="small" id="addNewEmail">
              <span><i class="fa fa-plus-circle text-danger"></i></span> Add
              another email</a
            >
          </div>
  
          <div>
            <div class="form-group">
              <h5 class="font-weight-bold small">Enter Custom Message:</h5>
              <textarea type="text" class="form-control" id="example4" name="message" required></textarea>
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-success w-100">
              Send Invitation
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>